<div id="<%= dom_id evenement %>">
<p>
		<h3 class="text-decoration-none link-dark stretched-link" href="eve"><%= evenement.title %></h3>
  </p>

    <div class="card-body">
      <p class="card-text">
        <strong>Start date:</strong>
        <%= evenement.start_date %>
      </p>

      <p class="card-text">
        <strong>Duration:</strong>
        <%= evenement.duration %>
      </p>

      <p class="card-text">
        <strong>Description:</strong>
        <%= evenement.description %>
      </p>

      <p class="card-text">
        <strong>Location:</strong>
        <%= evenement.location %>
      </p>

      <% admin_id = current_user %>

      <p class="card-text">
        <strong>Price:</strong>
        <%= evenement.price %>
      </p>
      <%= link_to "Show this evenement", evenement %>
    </div>

</div>
