<p style="color: green"><%= notice %></p>

<%= render @evenement %>

  <%# button_to "Passer commande", checkout_create_path(total: @evenement.price, event_id: @evenement.id), class: "btn btn-primary", data: {turbo: false} %>
  <% if @evenement.admin == current_user %>
    <div>
      <%= link_to "Back to events", evenements_path %>
      <%= link_to "Edit my event", edit_evenement_path %>
      <%= button_to "Destroy this event", @evenement, method: :delete %>
    </div>
  <% else %>
    <%= link_to "Back to events", evenements_path %> 
      <%# if @evenement.is_free?%>
        <%# link_to "Evenement gratuit ! Inscrivez vous sans payer", new_participations_path(event_id: @evenement) %>
        <%# else %>
        <%= button_to "Passer commande", checkout_create_path(total: @evenement.price, event_id: @evenement.id), class: "btn btn-primary", data: {turbo: false} %>
      <%# end %>
  <% end %>
